#editor-container {
	position: relative;
	width: 1024px;
	text-align: center;
	margin: 0 auto;
}

.editor-tile {
	width: 40px;
	height: 40px;
	background-color: #000000;
	border: solid 1px #ffffff;
	position: absolute;
}

.editor-tile-flat {
	background-color: #aaaaaa;
}

.editor-tile-start {
	background-color: #ff0000;
}

.editor-tile-goal {
	background-color: #00ff00;
}

.editor-tile-raised {
	background-color: #555555;
}