#editor-container {
	position: relative;
	width: 1024px;
}

#editor-grid-container {
	position: relative;
	width: 900px;
}

.editor-tile {
	width: 40px;
	height: 40px;
	background-color: #000000;
	border: solid 1px #ffffff;
	position: absolute;
}

.editor-output-row {
	width: 100%;
}

.editor-tile-undefined {
	background-color: #000000;
}

.editor-tile-flat {
	background-color: #aaaaaa;
}

.editor-tile-start {
	background-color: #ff0000;
}

.editor-tile-goal {
	background-color: #00ff00;
}

.editor-tile-raised {
	background-color: #555555;
}

#editor-gen-grid-btn-container {
	position: absolute;
	width: 30px;
	right: 10px;
}

#printout-container {
	position: absolute;
	width: 100px;
	right: 10px;
	top: 40px;
}
