#editor-container {
	position: relative;
	width: 1024px;
}

#editor-grid-container {
	position: absolute;
	width: 900px;
	left: 200px
}

.editor-tile {
	width: 40px;
	height: 40px;
	background-color: #000000;
	border: solid 1px #ffffff;
	position: absolute;
}

.editor-output-row {
	width: 100%;
}

.editor-tile-undefined {
	background-color: #000000;
}

.editor-tile-flat {
	background-color: #aaaaaa;
}

.editor-tile-start {
	background-color: #ff0000;
}

.editor-tile-goal {
	background-color: #00ff00;
}

.editor-tile-raised {
	background-color: #555555;
}

#editor-gen-grid-btn-container {
	position: absolute;
	width: 100%;
}

#editor-clear-grid-btn-container {
	position: absolute;
	width: 100%;
	margin-top: 20px;
}

#printout-container {
	position: absolute;
	width: 100px;
	top: 40px;
}

#alert {
	border: solid 2px #0f0f0f;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 5px;
	top: 20px;
	z-index: 10;
	background-color: #f3f3f3;
	color: #0f0f0f;
	text-align: center;
	padding-top: 10px;
}

#editor-bit-bot-container {
	position: absolute;
	top: 100px;
	z-index: 1;
}
