html {
	height: 100%;
}

h1, h2, h3 {
	padding: 0px;
	margin: 20px 0px 0px 0px;
	font: 30px Arial, Helvetica, sans-serif;
	text-align: left;
}

h1 {
	color: #FF6400;
	font-size: 30px;
}

h2 {
	color: #45D4FF;
	font-size: 25px;
}

h3 {
	color: #45D4FF;
	font-size: 25px;
}

a, code {
	font-weight: bold;
	font-size: 15px;
	color: #00A383;
}

body {
	font: 11px Arial, Helvetica, sans-serif;
	background-color:#000000;
	text-align: left;
	color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 576px;
	margin: 0px auto;
	background: 'black';
	background-image: url(./../assets/art/BGPattern.png);
	background-repeat: repeat;
}

footer {
	padding-top: 1px;
	padding-bottom: 1px;
	font: 13px Arial, Helvetica, sans-serif;
	background-color:#000000;
	width: 576px;
	text-align: center;
}

canvas {
	margin-left: 0px auto;
	margin-right: 0px auto;
	border: 1px solid;
	background: white;
	width: 576px;
	height: 576px;
	margin-top: 50px;
}

#canvas {
	margin-left: 0px auto;
	margin-right: 0px auto;
	border: black 1px solid;
	background: white;
	width: 576px;
	height: 576px;
	margin-top: 10px;
	overflow: hidden;
}

#info {
	width: 576px;
	line-height: 130%;
	padding-top: 20px;
}

#jaws-log {
	font: 11px verdana;
	color: #aaaaaa;
	background: black;
	width: 576px;
	padding: 5px;
}

#jaws-edit {
	font: 11px verdana;
	color: #aaaaaa;
	background: black;
	width: 480px;
	padding: 10px;
	margin-top: 10px;
	min-height: 50px;
	display: none;
	overflow: auto;
}

#jaws-toolbar {
	width: 200px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #eeeeee;
	height: 600px;
	box-shadow: 0px 0px 10px black;
}

/*
 * We want non-blurry, block retro gfx when scaling! Webkit (chrome/safari) has yet to catch up with this
 * Also this actually doesn't seem to affect the <canvas>-tag just yet.
 */
html, canvas, img {
	image-rendering: optimizeSpeed;
	image-rendering: optimize-contrast;
	image-rendering: -moz-crisp-edges; /* FF */
	image-rendering: -webkit-optimize-contrast; /* Webkit */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
}
